// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
  color: antiquewhite;
  font-family: 'Lato', 'Roboto', sans-serif;
}

.ui {
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
